/*----- Start Custom Properties -----*/
	:root {
		/* colors */
		--clr-ltgrn: 202, 255, 208; /* #caffd0 */
		--clr-grn: 53, 114, 102; /* #357266 */
		--clr-dkgrn: 14, 59, 67; /* #0e3b43 */
		--clr-ylw: 255, 186, 73; /* #ffba49 */
		--clr-red: 85, 37, 29; /* #55251d */
		--clr-wht: 255, 255, 255; /* ffffff */
		
		/* font sizes */
		--fs-900: 9.375rem;
		--fs-800: 6.25rem;
		--fs-700: 3.5rem;
		--fs-600: 2rem;
		--fs-500: 1.75rem;
		--fs-400: 1.125rem;
		--fs-300: 1rem;
		--fs-200: 0.875rem;
		
		/* font families */
		--ff-serif: "Baskerville", serif;
		--ff-sans-cond: "Roboto Condensed", sans-serif;
		--ff-sans-reg: "Roboto", sans-serif;
		
	}
/*----- End Custom Properties -----*/


/*----- Begin Reset -----*/

/* including padding & margins in measurements */
*, *::before, *::after {
	box-sizing: border-box;
}

/* resetting margins */
body, h1, h2, h3, h4, h5, h6, p, figure, picture {
	margin: 0;
}

/* removing bold from headers */
h1, h2, h3, h4, h5, h6, p {
	font-weight: 400;
}

/* setting defaults for body */
body {
	font-family: var(--ff-sans-reg);
	font-size: var( --fs-400);
	background-color: rgb( var(--clr-ltgrn));
	color: rgb( var(--clr-dkgrn));
	line-height: 1.5;
	min-height: 100vh;
}

/* making images dynamic */
img, picture {
	max-width: 100%;
	display: block;
}

/* making form elements cohesive with content */
input, button, textarea, select {
	font: inherit;
}

/* reduce animations option */
@media (prefers-reduced-motion: reduce) {  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*----- End Reset -----*/

/*----- General Utility Classes -----*/

/* "* + *" <-- denotes a selector check, selecting anything that has a sibling element before itself */
/* Will not work on the first element in a group, including lone elements.*/
.flow > * + * {
	margin-top: var(--flow-space, 1rem);
	outline: 1px solid red;
}

/* flexbox class */
.flex {
	display: flex;
	gap: var(--gap, 1rem);
}

/* gridbox class */
.grid {
	display: grid;
	gap: var(--gap, 1rem);
}

/* container class */
.container {
	padding-inline: 2em;
	margin-inline: auto;
	max-width: 80rem;
}

/* class for screen-reader/accessability*/
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

/*----- End Utility Classes -----*/



/*----- Start Custom Colors -----*/
.bg-ltgrn { background-color: rgb( var(--clr-ltgrn) ); }
.bg-grn { background-color: rgb( var(--clr-grn) ); }
.bg-dkgrn { background-color: rgb( var(--clr-dkgrn) ); }
.bg-ylw { background-color: rgb( var(--clr-ylw) ); }
.bg-red { background-color: rgb( var(--clr-red) ); }
.bg-wht { background-color: rgb( var(--clr-wht) ); }

.font-ltgrn { color: rgb( var(--clr-ltgrn) ); }
.font-grn { color: rgb( var(--clr-grn) ); }
.font-dkgrn { color: rgb( var(--clr-dkgrn) ); }
.font-ylw { color: rgb( var(--clr-ylw) ); }
.font-red { color: rgb( var(--clr-red) ); }
.font-wht { color: rgb( var(--clr-wht) ); }
/*----- End Custom Colors -----*/

/*----- Begin Typography -----*/

.ff-serif { font-family: var(--ff-serif); }
.ff-sans-cond { font-family: var(--ff-sans-cond); }
.ff-sans-reg { font-family: var(--ff-sans-reg); }

.uppercase { text-transform: uppercase; }

.fs-900 {font-size: var(--fs-900); }
.fs-800 {font-size: var(--fs-800); }
.fs-700 {font-size: var(--fs-700); }
.fs-600 {font-size: var(--fs-600); }
.fs-500 {font-size: var(--fs-500); }
.fs-400 {font-size: var(--fs-400); }
.fs-300 {font-size: var(--fs-300); }
.fs-200 {font-size: var(--fs-200); }

.fs-900, .fs-800, .fs-700, .fs-600 {
	line-height: 1.1;
}

/*----- End Typography -----*/